@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  padding: 1rem; 
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
}

nav {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  padding-right: 1rem;
}

p {
  margin-bottom: 0.75rem;
}

p a, p a:visited {
  color: hsl(var(--nextui-secondary));
  font-weight: 700;
}

p a:hover {
  text-decoration: underline;
}

.location pre {
  /* hack to use NextJS's default font: */
  font-family: __Inter_e66fe9, sans-serif;
  font-size: 1rem;
  white-space: normal;
}
